<% if(success){ %>
    <div class="notification alert alert-success">
        <p><%= success %></p>
    </div>
<% } %>

<% if(error){ %>
    <div class="notification alert alert-danger">
        <p><%= error %></p>
    </div>
<% } %>