<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		.wrap{
			padding: 0;
			margin: 0 auto;

		}
		h1{
			text-align: center;
		}
        .page-header>p{
			text-align: center;
			color: #aaa;
		}
		.btn-group{
			position: absolute;
			right: 200px;
			top: 10px;
		}
		.post-content{
			border-radius: 6px;
			border:1px solid #999;
		}
		.post-content{
			padding: 20px;
		}
		.user-name{
			color: #59c72b;
			font-size: 25px;
			padding: 10px 0;
			font-weight: bold;
		}
	</style>
	<script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
<%- include('components/header') %>
<%- include('components/dropdown-btn') %>
<%- include('components/notification') %>