.wrap{
    padding: 0;
    margin: 0 auto;

}
h1{
    text-align: center;
}
.page-header p{
    text-align: center;
    color: #aaa;
}
.btn-group{
    position: absolute;
    right: 200px;
    top: 10px;
}
.post-content{
    border-radius: 6px;
    border:1px solid #ccc;
    padding: 20px;
    position: relative;
}
.post-content .user-bottom:after{
    content:'';
    display: block;
    visibility: hidden;
    clear: both;
}
.post-content .author-info{
    position: absolute;
    left: -70px;
    padding: 9px;
    width: 70px;
    border: 1px solid  #ddd;
    border-right-color: #fff;
    height: 120px;
    border-radius: 5px 0 0 5px;
}
.post-content .author-info .info-words span{
    width: 100%;
    display: block;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.post-content .user-name{
    color: #59c72b;
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
}
.comment-content{
    padding: 20px;
    margin-top: 10px;
    border-radius: 6px;
    border:1px solid #ccc;
}
.comment-row{
    position: relative;
}
.comment-row .comment-avatar{
    position: absolute;
}
.comment-row .content-info{
    min-height: 50px;
    margin-left: 60px;
}
.comment-row .content-info:after{
    clear: both;
    display: block;
    visibility: hidden;
    content: '';
}
.comment-row .content-info .author{
    font-weight: bold;
    font-size: 18px;
}
.comment-row .content-info .date{
    font-weight: 100;
    font-size: 12px;
    color: #ccc;
    margin-left: 10px;
}
.comment-row a{
    color: inherit;
    text-decoration: none;
}
.comment-row a:hover{
    text-decoration: underline;
}
